{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            ¡Ups! Parece que ha habido un error
        </div>
    {% endif %}

    <h1> Actualizacion de Marca </h1>

    <form action="{% url 'actualizarMarca' marca.id %}" method="POST">

        {% csrf_token %}
        {% if mensaje %}
            <div class="alert alert-success" role="alert">
              ¡Marca Actualizado Correctamente!
            </div>
        {% endif %}

        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-danger" href="{% url 'listarMarca' %}">Cancelar</a>
    </form>
{% endblock %}